/* src/components/Navbar/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1e3d59;
  gap: 720px;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  position: relative;
  right: 30px;
}

.navbar-links li {
  margin-left: 10px;
}

.navbar-links a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #1852f4;
}
